<section
    class="relative w-full overflow-hidden md:h-[120vh] max-h-min-[200vh] text-center bg-white flex flex-col items-center pt-[50px]"
>
    <div class="absolute -top-[34%] -left-[8%]">
        <img src="/asset/vegetable01.webp" alt="" />
    </div>

    <div
        class="grid md:grid-cols-2 items-center justify-center mt-[15%] lg:gap-[20%] sm:gap-[11%] gap-[20%] lg:px-0 md:px-14 px-14"
    >
        <div class="text-pretty flex flex-col items-center justify-center">
            <h4 class="text-[30px] leading-[50px] mb-3">
                Our <strong class="text-yellow-500">Dhabi</strong><br />
                Restaurant Expert Chef
            </h4>
            <p class="w-[400px] ">
                food, substance consisting essentially of protein, carbohydrate,
                fat, and other nutrients used in the body of an organism to
                sustain growth and vital processes and to furnish energy. The
                absorption and utilization of food by the body is fundamental to
                nutrition and is facilitated by digestion
            </p>
            <button
                class="hover:scale-105 duration-200 mt-8 px-5 py-3 bg-[#DAE952] rounded-[20px] font-medium text-black"
                >Find for more</button
            >
        </div>

        <div class="relative z-10">
            <img
                src="/asset/our01.webp"
                class="h-[600px] w-[500px] object-contain z-10 -mt-[150px]"
                alt=""
            />
            <img
                src="/asset/Group 17.webp"
                class="absolute top-[10%] right-0 -z-10 w-[400px] h-[400px] object-contain"
                alt=""
            />
        </div>
    </div>
</section>
