<section
    class="relative w-full md:h-[120vh] max-h-min-[200vh] overflow-hidden text-center bg-[#F8FBDC] flex flex-col items-center pt-[50px]"
>
    <div class="absolute -top-[34%] -right-[4%]">
        <img src="/asset/hoja2.webp" alt="" />
    </div>
    <div class="grid md:grid-cols-2 items-center px-[16%]">
        <div>
            <img
                src="/asset/welcome.webp"
                class="h-[700px] w-[800px] object-cover"
                alt=""
            />
        </div>

        <div class="text-center flex flex-col items-center md:mt-0 -mt-[30%] md:py-2 py-8">
            <h4 class="text-[30px] leading-[50px] mb-3">
                Welcome to our<br /><strong class="text-yellow-500"
                    >Dhabi</strong
                > Restaurant
            </h4>
            <p class="w-[400px]">
                food, substance consisting essentially of protein, carbohydrate,
                fat, and other nutrients used in the body of an organism to
                sustain growth and vital processes and to furnish energy. The
                absorption and utilization of food by the body is fundamental to
                nutrition and is facilitated by digestion
            </p>
            <button
                class="hover:scale-105 duration-200 mt-8 px-5 py-3 bg-[#DAE952] rounded-[20px] font-medium text-black"
                >Find for more</button
            >
        </div>
    </div>
</section>
